*{
    overflow: auto;
}
body{
    background-color: rgb(64, 80, 116);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p.categorie{
    background-color: black;
    color:rgb(255, 255, 255);
    display: inline-block;
    margin-left: 30px;
    margin-top: -20px;
    padding: 8px 18px;
    margin-bottom:0px;
    font-weight:bold;
    font-size: 16px;
}
div.contenu{
    background-color: rgb(163, 161, 161);
    margin: 40px 8px 40px 8px;
    padding: 0px 8px 20px 8px;
    min-width: 350px;
    box-shadow: 0px 0px 8px 8px #000000c0;
    overflow: visible;
    border-radius: 3px;
}
p.description{
    text-align: center;
    display: inline-block;
    font-size: 14px;
}
div.description{
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.centre{
    text-align:center ;
    width: 100%;
}
div.categorie{
    margin-bottom: 0px;
    margin-top: 0px;
    overflow: visible;
}
div.separateur{
    width: 100px;
    height: 1px;
    background-color: lightgray;
    margin-right: auto;
    margin-left:auto;
}
h1{
    text-align:center;
    margin-bottom: 12px;
    margin-top:10px;
}
table.info{
    position: absolute;
    bottom:0;
    width: 100%;
    color: white;
    background-color: #c3cef2c0;
}
img.info{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
}
div.info{
    position: relative;
}
table.info td{
    text-align:center;
    font-size: 14px;
    
    
}
table.info th{
    font-size: 16px;
}
div.colonne1{
    display: inline-block;
   /* margin-right: 10%;*/
}
div.colonne2{
    /*float:right;*/
}
div.colonne1, div.colonne2{
    width: 50%;
}
div.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 1px solid lightgray;
}
div.colonne{
    width: 100%;
    margin-top: 20px;
}
div.ingre{
    text-align: center;
    font-size: 14px;
}
div.ingre p{
    border: 1px solid lightgray;
    padding: 5px;
}


table.prepa p.numero{
    background-color: lightgray;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
}
table.prepa td{
    vertical-align: top;
}
table.prepa td.prepetape{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 20px;
}
table.prepa tr{
    height: 40px ;
}

@media only screen and (min-width: 768px) {
    div.contenu{
        min-width: 350px;
        margin: 60px 10% 80px 10%;
        padding: 0px 10px 10px 10px;
    }
    table.info{
        height: 80px;
    }
    div.colonne1{

        margin-right: 10%;
    }
    div.colonne2{
        float:right;
    }
    div.colonne{
        width: 45%;
    }


}
@media only screen and (min-width: 900px) {
    div.contenu{
        margin-left: auto;
        margin-right: auto;
        width: 645px;
    }
}